*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    width: 100%;
    display: flex;
}
hr{
    width: 200px;
    color: #5e5e5e;
    position: absolute;
    bottom: -75px;
    left: 10px;
}

/* SEZIONE HEADER */

.header-float-x{
    width: calc(100% - 225px);
    height: 80px;
    background-color: #080b12;
    float: right;
    clear: right;
}
.btn-white{
    width: 250px;
    background-color: #000000;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px 10px;
    float: right;
    clear: right;
    margin: 15px 5px 0 0;
}
.btn-white:hover{
    color: #5e5e5e;
    cursor: pointer;
}

/* SEZIONE SIDEBAR */

.container-flex-y{
    width: 225px;
    height: 1329px;
    background-color: #000000;
}
.sidebar-sx{
    display: inline-block;
    margin: 15px 15px 0 15px;
}
.logo-sp{
    color: white;
    font-size: 30px;
}
.logo-sp:hover{
   cursor: pointer;
}
.sidebar-list{
    position: absolute;
    left: 20px;
    bottom: 1031px;
}
.sidebar-list ul{
    list-style-type: none;
}
.sidebar-list ul li{
    padding: 3px 3px;
}
.sidebar-list ul li a{
    color: #5e5e5e;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}
.sidebar-list ul li a:hover{
    color: white;
}
.playlist{
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 990px;
    left: 25px;
}
.new-playlist{
    color: #5e5e5e;
    font-size: 14px;
    position: absolute;
    bottom: 950px;
    left: 25px;
}
.playlist-list{
    position: absolute;
    bottom: 730px;
    left: 25px;
}
.playlist-list:hover{
    cursor: pointer;
}
.playlist-list ul{
   list-style-type: none;
}
.playlist-list ul li{
    color: #5e5e5e;
    line-height: 30px;
 }
 .playlist-list ul li:hover{
    color: white;
 }
 .install-app{
    position: absolute;
    bottom: -65px;
    left: 25px;
    color: #5e5e5e;
    font-size: 16px;
 }
 .install-app:hover{
   color: white;
   cursor: pointer;
 }
 .artist-name{
    position: absolute;
    bottom: -120px;
    left: 25px;
    color: white;
 }
 .artist-name:hover{
   color: #5e5e5e;
   cursor: pointer;
 }

 













/* SEZIONE MAIN */










/* SEZIONE FOOTER */

.container-flex-footer-x{
    width: 100%;
    height: 100%;
    background-color: #282828;
    color: white;
}
.col-33{
    width: calc(100% / 3);
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 15px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    background-color: #141922;
}