*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    width: 100%;
    display: flex;
}
hr{
    width: 200px;
    color: #5e5e5e;
    position: absolute;
    bottom: -75px;
    left: 10px;
}
p{
    color: white;
    position: absolute;
    top: 120px;
    font-size: 25px;
    margin-left: 14px;
}


/* SEZIONE HEADER */

.header-float-x{
    width: calc(100% - 225px);
    height: 80px;
    background-color: #080b12;
    float: right;
    clear: right;
}
.btn-white{
    width: 250px;
    height: 50%;
    background-color: #000000;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px 10px;
    float: right;
    clear: right;
    margin: 15px 5px 0 0;
}
.btn-white:hover{
    color: #5e5e5e;
    cursor: pointer;
}

/* SEZIONE SIDEBAR */

.container-flex-y{
    width: 225px;
    height: 1329px;
    background-color: #000000;
}
.sidebar-sx{
    display: inline-block;
    margin: 15px 15px 0 15px;
}
.logo-sp{
    color: white;
    font-size: 30px;
    height: 100%;
}
.logo-sp:hover{
   cursor: pointer;
}
.sidebar-list{
    position: absolute;
    left: 20px;
    bottom: 1031px;
}
.sidebar-list ul{
    list-style-type: none;
}
.sidebar-list ul li{
    padding: 3px 3px;
}
.sidebar-list ul li a{
    color: #5e5e5e;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}
.sidebar-list ul li a:hover{
    color: white;
}
.playlist{
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 990px;
    left: 25px;
}
.new-playlist{
    color: #5e5e5e;
    font-size: 14px;
    position: absolute;
    bottom: 950px;
    left: 25px;
}
.new-playlist:hover{
   color: white;
   padding: 2px;
   cursor: pointer;
}
.playlist-list{
    position: absolute;
    bottom: 730px;
    left: 25px;
}
.playlist-list:hover{
    cursor: pointer;
}
.playlist-list ul{
   list-style-type: none;
}
.playlist-list ul li{
    color: #5e5e5e;
    line-height: 30px;
 }
 .playlist-list ul li:hover{
    color: white;
 }
 .install-app{
    position: absolute;
    bottom: -65px;
    left: 25px;
    color: #5e5e5e;
    font-size: 16px;
 }
 .install-app:hover{
   color: white;
   cursor: pointer;
 }
 .artist-name{
    position: absolute;
    bottom: -120px;
    left: 25px;
    color: white;
 }
 .artist-name:hover{
   color: #5e5e5e;
   cursor: pointer;
 }


/* SEZIONE MAIN */

.container-nav{
    display: flex;
    justify-content: center;
}
.container-nav ul{
    list-style-type: none;
}
.nav-bar ul li{
    display: inline;
    padding: 3px;
    color: #787a7f;
    font-weight: 700;
    position: relative;
    top: 25px;
}
.nav-bar ul li:hover{
   color: white;
   cursor: pointer;
   text-decoration: underline;
}
.hr-nav{
    position: absolute;
    bottom: 1202px;
    left: 205px;
    width: 50px;
    height: 3px;
    color: #adff2f;
}
main{
    width: 1000px;
    height: 1249px;
    background-color: #141922;
    position: absolute;
    left: 225px;
    bottom: -140px;
}

.col{
    width: 100%;
    height: 200px;
    position: relative;
    top: 170px;
    margin-left: 10px;
    margin-right: 10px;
}
.container-main img{
    width: 140px;
    height: 100%;
}
.container-main img:hover{
    width: 150px;
    height: 200px;
    cursor: pointer;
}
.text-img-1{
    color: white;
    position: absolute;
    top: 400px;
    text-align: center;
    left: 40px;
}
.title{
    font-size: 16px;
}
.sub{
    font-size: 13px;
    color: #5e5e5e;
    position: relative;
    top: 5px;
}

.text-img-2{
    color: white;
    position: absolute;
    top: 400px;
    text-align: center;
    left: 175px;
}
.title-2{
    font-size: 16px;
}
.sub-2{
    font-size: 13px;
    color: #5e5e5e;
    position: relative;
    top: 5px;
}
.text-img-3{
    color: white;
    position: absolute;
    top: 400px;
    text-align: center;
    left: 367px;
}
.title-3{
    font-size: 16px;
}
.sub-3{
    font-size: 13px;
    color: #5e5e5e;
    position: relative;
    top: 5px;
}
.text-img-4{
    color: white;
    position: absolute;
    top: 400px;
    text-align: center;
    left: 558px;
}
.title-4{
    font-size: 16px;
}
.sub-4{
    font-size: 13px;
    color: #5e5e5e;
    position: relative;
    top: 5px;
}
.text-img-5{
    color: white;
    position: absolute;
    top: 400px;
    text-align: center;
    left: 682px;
}
.title-5{
    font-size: 16px;
}
.sub-5{
    font-size: 13px;
    color: #5e5e5e;
    position: relative;
    top: 5px;
}
.text-img-6{
    color: white;
    position: absolute;
    top: 400px;
    text-align: center;
    left: 880px;
}
.title-6{
    font-size: 16px;
}
.sub-6{
    font-size: 13px;
    color: #5e5e5e;
    position: relative;
    top: 5px;
}

.col-50{
    width: calc(100% / 6);
    height: 200px;
    position: relative;
    top: 480px;
    margin-left: 10px;
    margin-right: 10px;
}
.container-small img{
    width: 140px;
    height: 100%;
}
.container-small img:hover{
    width: 150px;
    height: 200px;
    cursor: pointer;
}

.Doe{
    color: white;
    position: absolute;
    top: 600px;
    font-size: 25px;
    margin-left: 10px;
}
.description{
    font-size: 13px;
    color:#787a7f;
    position: absolute;
    top: 643px;
    left: 10px;
}
.name-1, .name-2{
    color: white;
}
.name-1{
    position: absolute;
    top: 920px;
    left: 27px;
    font-size: 18px;
}
.name-2{
    position: absolute;
    top: 920px;
    left: 225px;
    font-size: 18px;
}
.artist{
    color: white;
    position: absolute;
    top: 990px;
    left: 10px;
    font-size: 25px;
}
.container-img-circle img{
    width: 185px;
    border-radius: 50%;
    position: relative;
    right: 290px;
    top: 180px;
}

.description-2{
    color: #787a7f;
    position: relative;
    top: 605px;
    left: 10px;
}


/* SEZIONE FOOTER */

.container-flex-footer-x{
    width: 100%;
    height: 100%;
    background-color: #282828;
    color: white;
}
.col-33{
    width: calc(100% / 3);
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 15px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    background-color: #141922;
}
.progress{
    width: 350px;
    height: 10px;
    background-color: #5e5e5e;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
}
.progress_ _fill{
    width: 50%;
    height: 100%;
    background-color: #282828;
}
.icons{
    flex-direction: row;
}
.icons ul{
    display: flex;
    list-style-type: none;
}
.icons ul li{
    position: relative;
    bottom: 25px;
    padding: 11px;
    left: 92px;
}
.vol{
    flex-direction: row;
}
.vol ul{
    display: flex;
    list-style-type: none;
}
.vol ul li{
    position: relative;
    left: 172px;
    padding: 3px;
}
.progress-min{
    width: 60px;
    height: 10px;
    background-color: #5e5e5e;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    left: 245px;
    bottom: 20px;
}
.progress_ _min{
    width: 50%;
    height: 100%;
    background-color: #282828;
}
.progress:hover{
    cursor: pointer;
}
.icons:hover{
    color: #5e5e5e;
    padding: 5px;
}
.icons ul li:hover{
    cursor: pointer;
}
.vol:hover{
    cursor: pointer;
    color: #5e5e5e;
    padding: 5px;
}
.img-sx{
    flex-direction: row;
   
}
.img-sx ul{
    display: flex;
    list-style-type: none;
}
.img-sinister{
    width: 50px;
}
.sx{
    font-size: 15px;
    position: relative;
    left: 7px;
    top: 15px;
}
.icons-2{
    flex-direction: row;
}
.icons-2 ul{
    display: flex;
    list-style-type: none;
}
.icons-2 ul li{
    position: relative;
    left: 150px;
    bottom: 39px;
    color: #5e5e5e;
    padding: 5px;
}
.icons-2 ul li:hover{
    color: red;
    cursor: pointer;
    padding: 8px;
}
.icons-2 ul li:active{
    color: yellow;
}

